
@media only screen and (max-width: 1024px) {
   header .BannerText h1 {
      font: 80px/1.1em 'opensans-bold', sans-serif;
      letter-spacing: -1px;
      margin: 0 auto 12px auto;
   }
}

@media only screen and (max-width: 900px) {
   header .Banner { padding-bottom: 12px; }
   header .BannerText h1 {
      font: 78px/1.1em 'opensans-bold', sans-serif;
      letter-spacing: -1px;      
   }
   header .BannerText h3 {
      font: 17px/1.9em 'Roboto Slab', serif;
      width: 80%;
   }
   header .BannerText hr {
      width: 65%;
      margin: 12px auto;
   }
   .NavWrap {
      font: 11px 'opensans-bold', sans-serif;
      letter-spacing: 1.5px;
   }
   #about {
      padding-top: 45px;
      padding-bottom: 30px;
   }
   #about .profile-pic {
      width: 114px;
      height: 114px;
      margin-left: 12px;
   }
   #about .contact-details { width: 50%; }
   #about .download { width: 50%; }
   #resume h1 { font: 16px/24px 'opensans-bold', sans-serif; }
   #resume .main-col { padding-right: 5%; }   
   #call-to-action .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }
   #contact .section-head { margin-bottom: 30px; }
   #contact .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }
   #contact .section-head p.lead {
      font: 17px/33px opensans-light, sans-serif;
   }
}

@media only screen and (max-width: 767px) {
   .NavWrap {
      font: 12px 'opensans-bold', sans-serif;
      background: transparent !important;
      letter-spacing: 1.5px;  
      width: auto;
      position: fixed;
      top: 0;
      right: 0;
   }
   .NavWrap > a {
	   width: 48px;
		height: 48px;
		text-align: left;
		background-color: #1D3557;
		position: relative;
      border: none;
      float: right;

      font: 0/0 a;
      text-shadow: none;
      color: transparent;

      position: relative;
      top: 0px;
      right: 30px;
   }

	.NavWrap > a:before,
   .NavWrap > a:after {
	   position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}
   .NavWrap > a:after { top: 60%; }
	.NavWrap:not( :target ) > a:first-of-type,
	.NavWrap:target > a:last-of-type  {
	   display: block;
	}
   .NavWrap ul.nav {
      height: auto;
		display: none;
      clear: both;
      width: auto; 
      float: right;     

      position: relative;
      top: 12px;
      right: 0;
   }
	.NavWrap:target > ul.nav	{
	   display: block;
      padding: 30px 20px 48px 20px;
      background: #1f2024;
      margin: 0 30px;
      clear: both;
   }
   ul.nav li {
      display: block;
      height: auto;      
      margin: 0 auto; 
      padding: 0 4%;           
      text-align: left;
      border-bottom: 1px solid #2D2E34;
      border-bottom-style: dotted; 
   }
   ul.nav li a {  
      display: block;    
      margin: 0;
      padding: 0;      
      margin: 12px 0; 
      line-height: 16px; /* reset line-height from 48px */
      border: none;
   }  
   header .Banner {
      padding-bottom: 12px;
      padding-top: 6px;
   }
   header .BannerText h1 { font: 68px/1.1em 'opensans-bold', sans-serif; }
   header .BannerText h3 {
      font: 16px/1.9em 'Roboto Slab', serif;
      width: 85%;
   }
   header .BannerText hr {
      width: 80%;
      margin: 18px auto;
   }
   header .Social {
      margin: 18px 0 24px 0;
      font-size: 24px;
      line-height: 36px;      
   }
   header .Social li { margin: 0 10px; }
   header .ScrollDown { display: none; }
   #about .profile-pic {
      display: block;
      margin: 0 auto;
      height: 150px;
      width: 150px;
   }
   .button {
      width: 100%;
      text-align: center;
      padding: 15px 20px;
      margin-bottom: 0px;
   }
   #about .main-col {
      padding-right: 30px;
      padding-top: 30px;
   }
   #resume {
      padding-top: 20px;
      padding-bottom: 30px;
   }
   #resume .header-col {
      margin-bottom: 48px;
      text-align: center;
   }
   #resume h1 { letter-spacing: 3px; }
   #resume .main-col { padding-right: 30px; }
   #resume h3, #resume .info { text-align: center; }
   .bars { width: 100%; }
   #call-to-action { text-align: center; }
   #call-to-action h1 {
      font: 16px/24px 'opensans-bold', sans-serif;
      text-align: center;
      margin-bottom: 30px;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
   }
   #call-to-action h1 span { display: block; }
   #call-to-action .header-col h1:before { content: none; }
   #call-to-action p { font-size: 15px; }
   #contact {
      padding-top: 30px;
      padding-bottom: 30px;
   }
   #contact .section-head { margin-bottom: 12px; }
   #contact .section-head h1 {
      font: 16px/24px 'opensans-bold', sans-serif;            
      text-align: center;   
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
   }  
   #contact h1 span { display: block; }
   #contact .header-col { padding-top: 0; }
   #contact .header-col h1:before { content: none;	}
   #contact .section-head p.lead { text-align: center; margin-top: 0px }
   #contact label {
      float: none;
      width: 100%;
   }
   #contact input,
   #contact textarea,
   #contact select {
     	margin-bottom: 6px;    	
      width: 100%;
   }
   #contact button.submit { margin: 30px 0 24px 0; }
   #message-warning, #message-success {
      width: 100%;
      margin-left: 0;
   }
   footer .copyright li:before { content: none; }
   footer .copyright li { margin-right: 12px; }
   footer .Social-links { font-size: 22px; }
   footer .Social-links li { margin-left: 18px; }
   #go-top { margin-left: -22px; }
   #go-top a {
   	width: 54px;
   	height: 54px;
      font-size: 18px;
      line-height: 54px;
   }


}

@media only screen and (max-width: 480px) {
   .NavWrap ul.nav { width: auto; float: none; }
   header .Banner { padding-top: 24px; }
   header .BannerText h1 {
      font: 30px/1.1em 'opensans-bold', sans-serif;      
      margin: 0 auto 24px auto;
      position: relative;
      left: 7px;
   }
   header .BannerText h3 {
      font: 14px/1.9em 'Roboto Slab', sans-serif;
      width: 90%;
   }
   header .ProfileTitle {
      font-size: 22px;
   }  
   header .Social { font-size: 20px;}
   header .Social li { margin: 0 6px; }
   footer .Social-links { font-size: 20px; }
   footer .Social-links li { margin-left: 14px; } 
   .ProfileDescription{
      font-size: 16px;
      line-height: 22px;
   }
   .CollapsibleButton {
      font-size: 17px;
   }
}