/* RGB */
$color1: rgb(242, 199, 90), 1; // #f2c75a;
$color2: rgba(241, 250, 238, 1); // #f1faee
$color3: rgba(168, 218, 220, 1); // #a8dadc
$color4: rgba(69, 123, 157, 1); // #457b9d
$color5: rgba(29, 53, 87, 1); // #1d3557