
/* -------------------------------------- */
/* Common
/* -------------------------------------- */
.SecondaryPage {
    margin-top: 48px;
}
#blog, #projects {
    background-color: #fff;
    padding: 30px;
}
.BlogWrapper {
    max-width: 800px;
    margin: 0 auto;
}
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999999;
    background-color: rgba(0,0,0,.65);
}


/* -------------------------------------- */
/* Blog
/* -------------------------------------- */
.First_BlogPost {
    margin-bottom: 20px;
}
.First_BlogPost img {
    max-height: 500px;
    max-width: 800px;
    width: 100%;
    height: 100%;
}
.BlogPostsWrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.BlogPost {
    min-width: 200px;
    width: 100%;
}
.BlogPost img {
    max-height: 200px;
    width: 100%;
}
.PostTitle {
    font-weight: 600;
    font-size: 17px;
    color: #333333;
}
.PostDescription {
    font-size: 14px;
}
.PostDate {
    font-size: 12px;
}


@media (max-width: 830px) {
    .BlogPostsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .BlogPostsWrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .First_BlogPost img {
        max-height: 200px;
    }
}